:root {
  --heading-fonts: "Asap", sans-serif;
  --default-fonts: "Poppins", sans-serif;
  --first-color: #811112;
  --second-color: #ac3834;
  --third-color: #b41e22;
  --forth-color: #3d0b0c;
  --background-color: #edd7bd;
  --btn-box-shadow: 5px 5px rgba(145, 145, 145, 0.5);
}

h1 {
  font-family: var(--heading-fonts);
  color: var(--third-color);
  font-size: 90px;
  margin-bottom: 18px;
}

h2 {
  font-family: var(--heading-fonts);
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  font-family: var(--default-fonts);
}

a {
  text-decoration: none;
}

.hero {
  padding: 50px 40px;
  text-align: center;
  background-color: var(--background-color);
}

.hero h2 {
  font-family: var(--default-fonts);
  font-weight: normal;
  margin-bottom: 40px;
  font-size: 28px;
  line-height: 1.5;
}

.hero p {
  margin: 0;
  font-weight: bold;
  font-family: var(--default-fonts);
  font-size: 27px;
  color: var(--forth-color);
}

.contact-btn,
.project-btn {
  font-family: var(--default-fonts);
  padding: 15px 30px;
  font-size: 18px;
  box-shadow: var(--btn-box-shadow);
  background-color: var(--first-color);
  color: white;
  border: 2px solid var(--first-color);
  border-radius: 5px;
}
.contact-btn:hover,
.project-btn:hover {
  color: var(--first-color);
  background-color: white;
  border: 2px solid var(--first-color);
}

.project-name {
  font-size: 46px;
}

.project-pic {
  border-radius: 5px;
}

.project-description {
  padding: 100px 50px;
}

.about,
.works {
  padding: 50px 40px;
}

.about-content {
  padding: 100px 50px;
}

.about h1 {
  text-align: center;
}
.about h2 {
  font-family: var(--default-fonts);
  font-weight: bold;
}

.about p {
  line-height: 1.7;
}

.about img {
  border-radius: 10px;
}

.works h2 {
  text-align: center;
  font-family: var(--default-fonts);
  font-size: 23px;
  line-height: 30px;
}

.works .project-description {
  padding: 30px 50px;
}

.works a {
  display: block;
  text-align: center;
}

.works .shahnameh {
  height: 474px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 70px;
  }

  .hero {
    padding: 25px 20px;
  }

  .project-name {
    font-size: 34px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .about {
    text-align: center;
    padding: 25px 20px;
  }

  .about-content {
    padding: 50px 25px;
    padding-top: 10px;
  }

  .works img {
    margin-top: 50px;
  }
}
